{% extends 'base.html' %}

{% block content %}

{% if question.user == request.user %}
    <a href="{% url 'core:question-delete' question.pk %}" class='btn btn-danger'>Delete</a>
    <a href="{% url 'core:question-update' question.pk %}" class='btn btn-primary'>Edit</a>
{% endif %}




<h2>{{ question.title }}</h2>
<p>{{ question.text }}</p>
<p>Views: {{ question.views }}</p>

  <p>{{ question.body }}</p>

  <h5>Answers</h5>
  {% for answer in question.answer_set.all %}
    <p>{{ answer.text }}</p>
  {% empty %}
    <p>No answers yet.</p>
  {% endfor %}

  <h4>Answer the question:</h4>
  <form method="post">
    {% csrf_token %}
    {{ answer_form.as_p }}
    <button type="submit">Submit</button>
  </form>
  {{ form.errors }}
{% endblock content %}